# Laravel .gitignore

# Ignore large backup files
*.zip
*.rar
*.tar
*.gz
*.7z

# Backup folders
/bk
/backup
/backups

/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
# /vendor  # Comentado para incluir dependências no Git
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Ignora arquivos temporários do framework
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/cache/data/*
/storage/logs/*

# Manter diretórios com arquivos .gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/cache/data/.gitignore
!/storage/logs/.gitignore
